{% extends "base.html"%}
{% load static %}
{% load humanize %} 
{% load mathfilters %}
{% block content %}

<script type="text/javascript">
	function setPriceRange(){
		loca = location.href.split("?")
		let minamount = document.getElementById("minamount").value.replace("원", "");
		let maxamount = document.getElementById("maxamount").value.replace("원", "");
		location.href = loca[0]+"?minamount="+minamount+"&maxamount="+maxamount;
	}
</script>

<!-- big category Section Begin -->
<section class="breadcrumb-section set-bg"
	data-setbg="../static/images/beach2.png">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="breadcrumb__text">
					<h2 style="color: black;">Beach product</h2>
					<div class="breadcrumb__option">
						<a href="{% url 'member:index' %}" style="color: black;">Home</a>
						<span style="color: black;">Water Rocket</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- big category Section End -->

<!-- Product Section Begin -->
<section class="product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-5">
				<div class="sidebar">
					
					<div class="sidebar__item">
						<h4>Price</h4>
						<div class="price-range-wrap">
							<div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="10" data-max="5000000">
								<div class="ui-slider-range ui-corner-all ui-widget-header"></div>
								<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
								<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
							</div>
							<div class="range-slider">
								<div class="price-input">
									<input type="text" id="minamount" /> <input type="text" id="maxamount" />
								</div>
								<input type="button" value="가격 범위 설정" onclick="setPriceRange()">
							</div>
						</div>
					</div>

					<div class="sidebar__item">
						<div class="latest-product__text">
							<h4>비치에 들어온 최신상품</h4>
							{% for lastProduct in lastProducts %}
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a
										href="/product/productDetail?prodNum={{lastProduct.prodNum}}"
										class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{lastProduct.prodThumbnail.url}}" alt="" />
										</div>
										<div class="latest-product__item__text">
											<h6>{{lastProduct.prodName}}</h6>
											<h6>{{lastProduct.brand}}</h6>
											<span>{{lastProduct.prodPrice|intcomma}}원</span>
										</div>
									</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-7">
				{% if recommends %}
				<div class="product__discount">
					<div class="section-title product__discount__title">
						<img src="../static/images/waterrocket.png"
							style="width: 120px; height: 120px; border-radius: 50%;" alt="" />
						<h2>물 로켓 배송</h2>
					</div>
					<div class="row">
						<div class="product__discount__slider owl-carousel">
							{% for recommend in recommends %}
							<div class="col-lg-4">
								<div class="product__discount__item">

									<div class="product__discount__item__pic set-bg"
										data-setbg="{{recommend.prodImage1.url}}">
										<div class="product__discount__percent">-10%</div>
										<ul class="product__item__pic__hover">
											<li><a
												href="{% url 'wishlist:wishins' %}?userId={{request.session.memid}}&prodNum={{recommend.prodNum}}"><i
													class="fa fa-heart"></i></a>
											<li><a
												href="{% url 'cart:cartins' %}?userId={{request.session.memid}}&prodNum={{recommend.prodNum}}&buyCount=1"><i
													class="fa fa-shopping-cart"></i></a></li>
										</ul>
									</div>
									<div class="product__discount__item__text">
										<span>{{recommend.brand}}</span>
										<h5>
											<a href="{% url 'product:productDetail' %}?prodNum={{recommend.prodNum}}">{{recommend.prodName}}</a>
										</h5>
										<div class="product__item__price">
											{{recommend.prodPrice|intcomma }}원 <span>{{recommend.prodPrice|mul:1.1|floatformat:"0"|intcomma }}원</span>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}
				<div class="filter__item">
					<div class="section-title product__discount__title">
						<img src="../static/images/waterrocket.png"
							style="width: 120px; height: 120px; border-radius: 50%;" alt="" />
						<h2>물 로켓 배송</h2>
					</div>
					<div class="row">
						{% for product in products %}
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="product__item">
								<div class="product__item__pic set-bg"
									data-setbg="{{product.prodThumbnail.url}}">
									<ul class="product__item__pic__hover">
										<li><a
											href="{% url 'wishlist:wishins' %}?userId={{request.session.memid}}&prodNum={{product.prodNum}}"><i
												class="fa fa-heart"></i></a></li>
										<li><a
											href="{% url 'cart:cartins' %}?userId={{request.session.memid}}&prodNum={{product.prodNum}}&buyCount=1"><i
												class="fa fa-shopping-cart"></i></a></li>
									</ul>
								</div>
								<div class="product__item__text">
									<h6>
										<a href="{% url 'product:productDetail' %}?prodNum={{product.prodNum}}">{{product.prodName}}</a>
									</h6>
									<h5>{{product.prodPrice|intcomma }}원</h5>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

					<div class="product__pagination">
               {% if startpage > pageblock %}
                  <a href="{% url 'product:productCategory' %}?pagenum={{startpage|sub:pageblock}}"><i class="fa fa-long-arrow-left"></i></a>
               {% endif %}
               {% for page in pages %}
                  {% if pagenum == page %}
                     <a style="color:black;">{{page}}</a>
                  {% else %}
                     <a href="{% url 'product:productCategory' %}?pagenum={{page}}">{{page}}</a>
                  {% endif %}
               {% endfor %}
               {% if endpage < pagecount %}
                  <a href="{% url 'product:productCategory' %}?pagenum={{startpage|add:pageblock}}"><i class="fa fa-long-arrow-right"></i></a>
               {% endif %}
            </div>
				</div>
			</div>
		</div>
</section>
<!-- Product Section End -->
{%endblock%}

