{% extends "base.html"%}

{% block navright %}
{% endblock %}

{% block content %}
{%csrf_token%}
<div style="width:400px; text-align:center; margin-left:auto;margin-right:auto;">
	<form id="log_1" name="loginform" method="post" action="login" onsubmit="return logincheck()">
			<div class="idmessage" >
			{% if message %}
			{{ message }}
			{% else %}
			<br>
			<span style="margin-left:25px;"></span>로그인 해주세요
			<br><br>
			{% endif %}
			</div>
		<div class="form-group">
			<input class="form-control" id="exampleInputEmail1" name="id" type="text" placeholder="아이디" maxlength="15">
		</div>
		<div class="form-group">
			<input class="form-control" type="password"  id="exampleInputPassword1" name="passwd" placeholder="비밀번호">
		</div>
		<div class="login-button">
			<input class="btn btn-primary" style="width:426px;"type="submit" value="로그인"><br>
		</div>                    
	</form>

			<div style="margin-top:12px;margin-bottom:18px;"class="login-button-wrap">
				<button class="btn btn-primary" style="width:426px;background-color:skyblue; border:0;" onclick="location='memberjoin'">회원가입</button>
			</div>
</div>
{%endblock%}