{% extends "base.html"%}
{% load static %}
{% block title %}
<h2>회원정보 수정</h2>
{% endblock %}

{% block navright %}
{% endblock %}

{% block content %}
{% if not request.session.memid %}
<script type="text/javascript">
	alert("로그인 후 이용하실 수 있습니다.");
	location.href = "{% url 'member:login' %}"
</script>
{% else %}
{% csrf_token %}
<div style="min-height: 100%; position: relative;">
	<main class="main_mypage">
		<div class="mybeach">My비치</div>
		<section id="main_section">
			<div class="mainwarp">
				<!-- 마이비치 메뉴-->
				<div class="navleftwarp">
					<div>
						<div style="">
							<nav style="">
								<div class="navtext">
									<div>My 쇼핑</div>
									<div class="navtext_div">
										<ul>
											<li class="mylist_select1"><a href="{% url 'member:myorderlist' %}">주문목록</a></li>
											<li class="mylist_select1"><a href="{% url 'reviewboard:myReviewList' %}">나의 리뷰목록</a></li>
											<li class="mylist_select1"><a href="{% url 'qnaboard:myQnaList' %}">나의 질문목록</a></li>
											<li class="mylist_select2"><a href="{% url 'refund:myrefundlist' %}">반품/환불/교환내역</a></li>
											<li class="mylist_select2"><a href="{% url 'member:modify' %}">개인정보 확인/수정</a></li>
											<li class="mylist_select2"><a href="{% url 'member:delete' %}">회원탈퇴</a></li>
										</ul>
									</div>
								</div>
								<div></div>
							</nav>
						</div>
					</div>
				</div>
				<!-- 마이비치 메뉴 끝-->
				<!-- 회원 정보 -->
				<div class="contentwrap">
					<div style="text-align: center;">

						<div id="sform">
							<div style="text-align: center;">
								<h2>내정보</h2>
								<img src="../static/images/gaip.png">
							</div>
							<br>
							<br>
							<div id="sform1">
								<h3 class="join_title">
									<label for="name">아이디</label>
								</h3>
								<h3 class="join_title">
									<label for="id">{{dto.userId}}</label>
								</h3>
							</div>
							<br>
							<h3 class="join_title">
								<label for="name">이름</label>
							</h3>
							<h3 class="join_title">
								<label for="id">{{dto.name}}</label>
							</h3>
							<br>
							<h3 class="join_title">
								<label for="addr">이메일 
								</label>
							</h3>
							<div style="display: flex;">
								<div>
									<label style="height: 40px; width: 250px; font-size: 20px;" name="email">
									{{dto.email}}	 
									</label>
								</div>
							</div>
							<h3 class="join_title">
								<label for="addr">주소 
								</label>
							</h3>
							<div style="display: flex;">
								<div>
									<label style="height: 40px; width: 250px; font-size: 20px;" name="addr">
									{{dto.address}} {{dto.detailaddr}}	 
									</label>
								</div>
							</div>
							<br>
							<div style="display: flex;">
								<h3 class="join_title">
									<label for="name">전화번호</label>
								</h3>
								<h3 class="join_title">
									<br> <label for="id">{{dto.tel}}</label>
								</h3>
							</div>
							<div id="sform1">
								<button type="button" class="primary-btn2" style="border: 0; width: 250px;" onclick="location='modify'" value="수정">수정</button>

								<button class="primary-btn" type="button" value="메인으로"
									style="border: 0; width: 250px; height: 48px;"
									onclick="location='index'">메인으로</button>
							</div>
						</div>
						</form>
					</div>
				</div>
				<!-- 회원정보 끝 -->
			</div>
		</section>
	</main>
</div>
{% endif %}

{% endblock %}
{% block scroll %}
{% endblock %}
{% block footer %}
<!-- Footer Section Begin -->
	<footer class="footer spad" style="margin-top:1000px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__about__logo">
							<a href="{% url 'member:index' %}"><img
								src="{% static 'images/BeachLogo2.gif' %}" alt="" /></a>
						</div>
						<ul style="width: 500px;">
							<li><a style="color: #000; text-decoration: none;" href="#">상호명
									및 호스팅 서비스 제공 : 비치몰(주)</a></li>
							<li><a style="color: #000; text-decoration: none;" href="#">대표이사
									: 한강희</a></li>
							<li><a style="color: #000; text-decoration: none;" href="#">서울특별시
									서초구 서초대로74길 33 </a></li>
							<li><a style="color: #000; text-decoration: none;" href="#">사업자
									등록번호 : 120-00-00000</a></li>
							<li><a style="color: #000; text-decoration: none;" href="#">통신판매업신고
									: 신청 예정</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
					<div class="footer__widget">
						<h6>Useful Links</h6>

						<ul>
							<li><a href="#">회사소개</a></li>
							<li><a href="#">인재채용</a></li>
							<li><a href="#">입점 / 제휴문의</a></li>
							<li><a href="#">공지사항</a></li>
							<li><a href="#">고객문의</a></li>
							<li><a href="#">개인정보 처리방침</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="footer__widget">
						<h6>Join Our Newsletter Now</h6>
						<p>Get E-mail updates about our latest shop and special
							offers.</p>
						<form action="#">
							<input type="text" placeholder="Enter your mail" />
							<button type="submit" class="site-btn">Subscribe</button>
						</form>
						<div class="footer__widget__social">
							<a href="#"> <i class="fa fa-facebook"></i>
							</a> <a href="#"> <i class="fa fa-instagram"></i>
							</a> <a href="#"> <i class="fa fa-twitter"></i>
							</a> <a href="#"> <i class="fa fa-pinterest"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer__copyright">
						<div class="footer__copyright__text">
							<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>
								All rights reserved | This template is made with <i
									class="fa fa-heart" aria-hidden="true"></i> by <a
									href="{% url 'member:index' %}" target="_blank">Beach Mall</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
						<div class="footer__copyright__payment">
							<img src="{% static 'images/payment-item.png' %}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
{% endblock %}